@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

*{
    margin: 0;
    padding: 0;
    /* font-family: "Roboto", sans-serif; */
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --letra: black;
    --blanco: white;

    --Sombra: rgba(0, 0, 0, 0.12);

    --semiNegro: rgb(54, 54, 54);

    --verdecito: #00a650;

    --semiBlanco: rgb(241, 241, 241);
    
    --gris: rgb(227, 227, 227);
    --grisClaro: rgb(248, 248, 248);
    --grisOscuro: rgb(177, 177, 177);

    --rojo: rgb(255, 0, 0);
    --rojoOscuro: rgb(236, 0, 0);

    --fFamily: 'Helvetica Neue', sans-serif;
    --fFamily2:  "Barlow", sans-serif;
    --fWeight: 400;
    --fStyle: normal;

    --productosTamano: 23vw;

    --maxWITH: 97.5%;

    --headerHEIGHT: 60px;

}

@media (max-width: 959px) {
    :root {
    --productosTamano: 30vw;
    }
}

@media (max-width: 600px) {
    :root {
    --productosTamano: 48vw;
    }
}


body{
    background-color: var(--grisClaro);
}

/* --------------------------------MAIN-------------------------------- */
/* --------------------------------MAIN-------------------------------- */
/* --------------------------------MAIN-------------------------------- */
/* --------------------------------MAIN-------------------------------- */
/* --------------------------------MAIN-------------------------------- */


main{
    padding-top: calc(var(--headerHEIGHT) + var(--headerTOPH) + 2vh);
    padding-bottom: 2vh;

    width: 100%;

    display: flex;
    justify-content: center;
}

.pagina {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3vw;
}

.topPagina {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px calc(100% - 4*var(--productosTamano) - 4.5%);
    width: 100%;
    max-width: --;
}

@media (max-width: 959px) {
    .topPagina {
        padding: 20px calc(100% - 3*var(--productosTamano) - 4.5%);
    }
}

@media (max-width: 600px) {
    .topPagina {
        padding: 20px calc(100% - 2*var(--productosTamano) - 4.5%);
    }
}

.topPagina h1 {
    font-size: 40px;
    font-family: var(--fFamily2);
    font-weight: 700;
    color: var(--rojoOscuro);
}

/* FILTRAR Y ORDENAR */

.topPagina #filtrarYordenar {
    all: unset;

    gap: 5px;
    padding: 5px;
    border: 2px solid var(--rojoOscuro);
    border-radius: 3px;
    
    color: var(--rojoOscuro);
    font-weight: 600;
    
    display: flex;
    align-items: center;
    
    transition: 0.4s;
}

.topPagina .filtrarYordenarDIV {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--rojo);
    border-left: 2px solid var(--rojoOscuro);
    max-width: 50%;
    height: 100%;
    top: 0;
    right: -100%; /* Oculta el menú al principio */
    transition: right 0.4s ease; /* Animación de entrada y salida */
    padding: 10px;
    z-index: 20;
    gap: 20px;
}

.topPagina .filtrarYordenarDIV.show{
    right: 0;
}

.topPagina .filtrarYordenarDIV #crossFiltrarYordenar {
    all: unset;
}

.filtrarYordenarDIV .bx-x {
    cursor: pointer;
    font-size: 30px;
}

.filtrarYordenarDIV h3,
.filtrarYordenarDIV {
    color: var(--blanco);
}

.filtrarYordenarDIV h3 {
    font-weight: 500;
}

.filtrarYordenarDIV h2 {
    font-weight: 600;
    font-size: 20px;
}

.filtrarYordenarDIV .topFO {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    gap: 10px;
}

.filtrarYordenarDIV .ordenarPor .ordDIV{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.edadOP,
.ordenarPor {
    gap: 5px;
}

.ordDIV div label {
    padding-left: 20px;
}

.ordDIV div input {
    display: none;
}

.edadOP,
.ordenarPor {
    display: flex;
    flex-direction: column;
}

.ordDIV {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.ordDIV div {

    > label {
        display: inline-block;
        position: relative;
        /* margin-right: $spacing-unit; */
        /* padding-left: $spacing-unit + $half-spacing-unit; */
        cursor: pointer;

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: -1%;
      top: 45%;
      margin-top: -8px;
      border: 1px solid #fff;
      border-radius: 8px;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      left: 8px;
      margin-top: 0;
      background: #fff;
      border-radius: 4px;
      transition: .2s ease-in-out;
    }
  }

  :checked + label {
    &:after {
      height: 8px;
      width: 8px;
      margin-top: -4px;
      left: 4px;
    }
  }
}


/* .filtrarYordenarDIV .ordenarPor .ordDIV input {
    all: unset;
} */

/* ------------------------ */

@media (max-width: 768px) {
    .topPagina button {
        height: 20px;
    }
    .topPagina h1 {
        font-size: 35px;
    }
    .topPagina #filtrarYordenar p {
        /* display: none; */
    }
}

@media (max-width: 600px) {
    .topPagina #filtrarYordenar p {
        display: flex;
    }
    .topPagina {
        gap: 2px;
    }
    .topPagina {
        flex-direction: column;
    }
}

.topPagina #filtrarYordenar:hover {
    box-shadow: inset 400px 0 0 0 var(--rojo);
    color: var(--blanco);
    cursor: pointer;
}

.grid {
    /* width: 100%; */
    display: grid;
    justify-items: center;
    grid-gap: 10px;
    /* grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); */
    grid-template-columns: repeat(4, 1fr);
    margin: 0 3vw;
}

@media (max-width: 959px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* PRODUCTOS */

.producto {
    height: calc(var(--productosTamano) + 80px);
    width: var(--productosTamano);
}

.producto .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(255, 0, 0, 0.000000000001);
    height: calc(var(--productosTamano) + 80px);
    width: var(--productosTamano);
    border-radius: 3px;
    overflow: hidden;
    transition: 0.15s;
}

.producto:hover .cont {
    /* border: 2px solid var(--rojo); */
    cursor: pointer;
}

/* Producto img */

.producto .imagen {
    height: var(--productosTamano);
    width: var(--productosTamano);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco);
}

.producto .imagen img {
    height: 80%;
    width: 80%;
    object-fit: cover;
    transition: 0.2s;
}

.producto .imagen img:hover {
    transform: scale(1.05);
}

/* Producto descripcion */

.producto .descripcion {
    
    height: 80px;
    width: var(--productosTamano);
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descripcion h2 {
    font-weight: 600;
    font-size: 14px;
}

.descripcion h3 {
    font-weight: 400;
    font-size: 18px;
}

.descripcion p {
    font-weight: 400;
    font-size: 14px;
    filter: opacity(60%);
}

.descripcion div {
    overflow: hidden;
    height: 79px;
}